# Created by https://www.gitignore.io

### Scala ###
*.class
*.log

# sbt specific
.cache
.history
.lib/
lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

### SBT ###
# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control

target/
lib_managed/
src_managed/
project/boot/
.history
.cache

### Intellij ###
*.iml
/out/

## Directory-based project format:
.idea/

## Put local stuff here that you don't want to commit
ignore/
*.ignore.*
